*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    position: relative;
}

section {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover !important; 
    background-position: center center;
}

section:nth-child(1){
    background: url(../../src/paisajes1.avif);

}

section:nth-child(2){
    background: url(../../src/paisajes2.avif);
}

section:nth-child(3){
    background: url(../../src/paisajes3.avif);
}

section:nth-child(4){
    background: url(../../src/paisajes4.avif);
}

section:nth-child(5){
    background: url(../../src/paisajes5.avif);
}