.flex-container {
    display: flex;
    background-color: grey;
    padding: 5px;
    height: 300px;
    flex-flow: row wrap;
    align-content: fl;
}

.flex-container  div {
    background-color: khaki;
    margin: 5px;
    padding: 10px;
}