.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
    max-width: 100rem;
    margin: 0 auto;
}

.precio {
    font-size: 6rem;
    margin: 0;
}

@media (max-width: 800px){
    .oferta {
        max-width: 40rem;
    }
}

@media ( max-width: 600px ){
    .oferta {
        max-width: 100%;
    }
    .precio {
        font-size: 3rem;
    }
}

/* DestopFirts  los media queries van del mas GRANDE AL MAS PEQUEÑO */