.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
}

.precio {
    font-size: 4rem;
    margin: 0;
}

@media ( min-width: 600px ) and ( max-width: 1200px){
    .oferta {
        background-color: firebrick;
    }
    .precio {
        font-size: 5rem;
    }
}
